.select {
  width: 110px;

  border-style: none;

  background-color: #999;
  border-radius: 8px;

  font-size: 16px;
  outline: none;
  letter-spacing: 0.06em;
  font-weight: 400;

  transition: all 0.5s ease-in-out;

  color: #cac2c2;

  cursor: pointer;
}
.select option:first-of-type {
  color: var(--color-light);
}

.text {
  font-size: 18px;
  color: var(--color-primary);
  font-weight: 500;
}

.box {
  display: flex;
  align-items: center;
  box-shadow: inset 0px 0px 40px hsl(180, 1%, 72%);
  padding: 0px 10px;
  border-radius: 7px;
}
